.header {
    background: radial-gradient(#FF9900, #fff);
}

.small-container{
    max-width: 87%;
}

.col-1.top{
    flex-basis: 100%;
    min-width: 300px;
    text-align: center;
    border-bottom: solid;
    border-image: linear-gradient(to right,#8c00ff,purple 90%) 1;
    margin-top: 4em;
    padding-bottom: 2em;
}

.col-1.middle{
    flex-basis: 100%;
    min-width: 300px;
    text-align: center;
    border-top: solid;
    border-bottom: solid;
    border-image: linear-gradient(to right,#8c00ff,purple 90%) 1;
    padding-top: 3em;
    padding-bottom: 2em;
}

.col-1 h2{
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-size: 50px;
}

.about.col-2{
    padding-left: 30px;
}

.col-2 h3, h2{
    color: #555;
}

.portrait {
    width: 400px;
}

.row.personal{
    margin-bottom: 2em;
    margin-top: 2em;
}

.col-2 img{
    padding: 0;
}

.col-2.portrait{
    transition: transform 0.5s;
    padding-left: 50px;
}

.col-3{
    margin: 0;
}

.col-3 img{
    width: 310px;
}

#img1{
    box-shadow: 0 0 10px #8c00ff;
    margin-top: 230px;
    margin-bottom: 280px;
    margin-left: 20px;
}

#img2{
    box-shadow: 0 0 10px purple;
    margin-bottom: 120px;
    margin-left: 30px;
}

#img3{
    box-shadow: 0 0 10px purple;
    margin-left: 30px;
}

#img4{
    box-shadow: 0 0 10px purple;
    margin-top: 150px;
    margin-bottom: 230px;
    margin-left: 20px;
}

p.timeline {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right,#8c00ff,purple 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
    color: #555;
}
.timeline::before {
      content: counter(section);
      position: absolute;
      border-radius: 50%;
      padding: 10px;
      height: 1.25em;
      width: 1.25em;
      background-color: #8c00ff;
      text-align: center;
      line-height: 1.25em;
      color: whitesmoke;
      font-size: 1em;
  }
.timeline:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}
.timeline:nth-child(odd)::before {
    left: 100%;
    background-color: purple;
    margin-left: -20px;
}

.timeline:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}

.timeline:nth-child(even)::before {
        right: 100%;
        margin-right: -20px;
}

.timeline:first-child {
      border-top: 0;
      border-top-right-radius:0;
      border-top-left-radius:0;
  }

.timeline:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}