body{
    margin: 0;
    padding: 0;
    background: url(images/login-background.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    /*height: 150vh;*/
    height: 150vh;
}
.checkout-box {
    /*width: 620px;*/
    /*height: 1130px;*/    
    height: 110%;
    background: #fffefe;
    color: #FF9900;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -35%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.checkout-box h2{
    text-align: center;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
#billinginfo{
    float: left;
}
#paymentinfo{
    float: right;
}

.cart{
    float: right;
}

.checkout-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
.checkout-box input {
  width: 100%;
  margin-bottom: 10px;
}
.checkout-box input[type="text"], .checkout-box input[type="password"] {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  /*background: transparent;*/
  outline: none;
  height: 40px;
  color: grey;
  font-size: 16px;
}
.checkout-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #8c00ff;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.checkout-box input[type="submit"]:hover {
  cursor: pointer;
  background: #FF9900;
  color: #000;
}
#carttable{
    border: 1px solid black;
    background: white;
    height: 50%;
    float: left;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -35%);
    box-sizing: border-box;
    padding: 70px 30px;
    float: right;
}
#cart_header{
    color: #FF9900;
    margin-right: 10px;
    
}
