
body{
    margin: 0;
    padding: 0;
    /*
    background: url(images/login-background.jpeg) no-repeat center top;
   */
    
    background-size: cover;
    font-family: sans-serif;
    
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropbtn {
    color: #555;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
    color:white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    margin: 16px;
    margin-left: -16px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

button {
    background-color: transparent;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    padding: 16px;
    display: inline-block;
    margin-right: 20px;
}
nav ul li:hover, nav ul li:focus {
    background-color: #2980B9;
}

a {
    color: #555;
    text-decoration:none;
}
a:hover {
    color: white;
}

p {
    color: #555;
}
.container {
    max-width: 1300px;
    margin: auto;
    
    padding-right: 25px;
    padding-left: 25px;

}


.btn {
    display: inline-block;
    background: #FF9900;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.header {
    background: radial-gradient(#FF9900, #fff);
}

.header .row {
    margin-top: 70px;
}

.btn:hover {
    background: #8c00ff;
}

.categories {
    margin: 70px 0;
}


div.row{
    /*
align-content: center;
*/
    
}
div#contactrow{
    color: #FF9900;  
}
div#contactcontainer{
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact.col-1{
    flex-basis: 100%;
    min-width: 300px;
    align-content: center;
    text-align: center;
}

.contact.col-1 h1{
    font-size: 100px;
}

.contact.col-1 h2{
    font-size: 40px;
}

form{
    margin: auto;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 10px #8c00ff;
    width: 65%;
    
    background-image: linear-gradient(to right,#8c00ff,purple 100%);
   
}

form h3{
    color: whitesmoke;
    padding-left: 300px;
    padding-bottom: 20px;
}

label {
    width: 270px;
    color: whitesmoke;
    text-align: right;
    float: left;
    padding-bottom: 20px;
}

input, textarea{
    margin-left: 30px;
    margin-bottom: 20px;
}

textarea{
    width: 250px;
    height: 100px;
}

span {
    color: #ea4335;
    padding-left: 10px;
}

#submit, #clear {
    width: 100px;
    height: 20px;
    margin-left: 300px;
}

#clear{
    margin-left: 5px;
}

#submit:hover, #clear:hover{
    background: lightgray;
}

ul {
	margin-left: 100px;
	padding-left: 200px;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


@media only screen and (max-width: 800px) {
    nav ul {
	position: absolute;
	top: 70px;
	left: 0;
	background: rgba(51,51,51,0.85);
	width: 100%;
	overflow: hidden;
	transition: max-height 0.5s;
    }

    nav ul li {
	display: block;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
    }

    nav ul li a {
	color: #fff;
    }

    .menu-icon {
	display: block;
	cursor: pointer;
    }

    .branding-logo {
	width: 125px;
    }
}

@media only screen and (max-width: 600px) {
    .row {
	text-align: center;
    }

    .col-2, .col-3, .col-4 {
	flex-basis: 100%;
    }

    .branding-logo {
	width: 125px;
    }
}


/* footer stuff */

.container {
    max-width: 1300px;
    margin: auto;
    
    padding-right: 25px;
    padding-left: 25px;

}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #8c00ff;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #FF9900;
}

.col-4:hover {
    transform: translateY(-5px);
}

.offer {
    background: radial-gradient(#FF9900, #8c00ff);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa-quote-left {
    font-size: 34px;
    color: #8c00ff;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    width: 1000px;

    margin: 0 auto;
    top: 70%;
    left: 50%;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #FF9900;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;

}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.branding-logo {
    width: 250px;
}

@media only screen and (max-width: 800px) {
    nav ul {
	position: absolute;
	top: 70px;
	left: 0;
	background: rgba(51,51,51,0.85);
	width: 100%;
	overflow: hidden;
	transition: max-height 0.5s;
    }

    nav ul li {
	display: block;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
    }

    nav ul li a {
	color: #fff;
    }

    .menu-icon {
	display: block;
	cursor: pointer;
    }

    .branding-logo {
	width: 125px;
    }
}

@media only screen and (max-width: 600px) {
    .row {
	text-align: center;
    }

    .col-2, .col-3, .col-4 {
	flex-basis: 100%;
    }

    .branding-logo {
	width: 125px;
    }
}

